.sidebar {
    width: 240px;
    height: calc(100vh - 72px);
    background-color: var(--color-card);
    padding: 1rem 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* position:sticky; */
}

.sidebar.dark {
    background-color: var(--color-card-dark);
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 6px;
}

.sidebar ul li:hover {
    background-color: black;
}

.sidebar ul li i {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.708);
    transition: 0.3s;
    font-weight: bold;
}

.active {
    background: #2d89ef;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    transform: -20s;
}

.list,
.acroname {
    display: none;
}



@media (max-width: 1080px) {
    .sidebar ul {
        display: none;
        /* opacity: 1; */
        
        

    }

    .sidebar .clicked {
        display: flex;
        position: absolute;
        top: 7.5em;
        left: 0;
        background: rgba(200, 240, 255, 0.956);
        width: 100%;
        z-index: 9999;
        padding: 2em;
        margin: 0;
        /* transition: opacity 1s ease-in-out; */
        opacity: 0;
        animation: fadeIn 0.3s ease-in-out forwards;
    }

    @keyframes fadeIn {
        to {
            display: none;
            opacity: 1;
        }
    }

    .sidebar {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
        height: 3em;
        background: rgba(200, 240, 255, 0.956);
        padding: 0px 3px;
        box-shadow: none;
        margin: 0;
        /* align-items: end; */
        margin: 0px 0px 2px 0px;
        border-top: 1px solid rgb(2, 176, 240);
        border-bottom: 1px solid rgb(2, 176, 240);
        transition: opacity 1s ease-in-out;


    }

    .list {
        display: block;
        width: 4em;
        background: rgba(252, 251, 251, 0.256);
        color: black;
        box-shadow: none;
        margin: 0px 5px;
    }

    .acroname {
        display: block;
        color: #2d89ef;
        font-weight: bolder;
        font-size: 12px;
        padding-left: 2px;
    }
}